<div id="certificados">

  <section id="obter-lista"">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2><strong>Lista de certificados para o SBC-EB 2025</h2>
          
          {{#each data}}
            {{#if registros}}
              <ul class="list-group">
                <li class="list-group-item list-group-item-light" style="font-size: x-large;">{{nome}}</li>
                {{#each registros as |registro|}}
                  <form method="POST" action="/simposio/2025/sbc-eb/certificados/obter/arquivo">
                    <input name="texto_base" type="hidden" value="{{registro.texto_base}}" />
                    {{#each campos as |campo|}}
                      <input name="{{campo}}" type="hidden" value="{{lookup registro campo}}" />
                    {{/each}}
                    <button type="submit" style="text-align: left;" class="btn btn-info btn-lg btn-block">
                      <i class="fas fa-file-pdf"></i> {{registro.descricao}}
                    </button>
                  </form>
                {{/each}}
              </ul>
            {{/if}}
          {{/each}}

          {{#if mensagem}}
            <div class="alert alert-danger">{{mensagem}}</div>
          {{/if}}

        </div>  
      </div>
    </div>
  </section>

</div>