   {{> simposio/2021/pt-BR/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
            EduComp | Certificados <br>
            <small class="text-muted">(26 a 30 de abril de 2021)</small>
          </h2> 
          <br>
          <h3>Obter certificado: </h3>
          <br>

          {{#each data}}
            {{#if registros}}
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark disable" style="font-size: x-large;">{{nome}}</li>
                {{#each registros}}    
                  {{#if participacao}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input value="Participação" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                    {{!-- <a href='/simposio/2021/certificados/educomp/obter/arquivo/{{atividade}}/{{email}}/0/0/0' target="_blank" class="list-group-item list-group-item-primary" >Participação</a> --}}
                  {{/if}}
                  {{#if organizacao}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="funcao" type="hidden" value="{{funcao}}" />
                      <input value="{{funcaoFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                    {{!-- <a href='/simposio/2021/certificados/educomp/obter/arquivo/{{atividade}}/{{email}}/{{funcao}}/0/0' target="_blank" class="list-group-item list-group-item-primary" >{{funcao}}</a> --}}
                  {{/if}}
                  {{#if comite-programa-membro}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="funcao" type="hidden" value="{{funcao}}" />
                      <input value="{{funcaoFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if comite-programa-convidado}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input value="Comitê de Programa (Convidado)" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if comite-programa-coord}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="trilha" type="hidden" value="{{trilha}}" />
                      <input value="{{trilhaFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if palestrante}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="titulo" type="hidden" value="{{titulo}}" />
                      <input name="dia" type="hidden" value="{{dia}}" />
                      <input value="{{tituloFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if palestra-apoio}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="funcao" type="hidden" value="{{funcao}}" />
                      <input name="titulo" type="hidden" value="{{titulo}}" />
                      <input name="dia" type="hidden" value="{{dia}}" />
                      <input value="{{tituloFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if painel}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="funcao" type="hidden" value="{{funcao}}" />
                      <input name="titulo" type="hidden" value="{{titulo}}" />
                      <input name="dia" type="hidden" value="{{dia}}" />
                      <input value="{{tituloFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if sessao-tecnica-coord}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="sessao" type="hidden" value="{{sessao}}" />
                      <input name="dia" type="hidden" value="{{dia}}" />
                      <input value="{{sessaoFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if apres-trabalho}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="tipo" type="hidden" value="{{tipo}}" />
                      <input name="titulo" type="hidden" value="{{titulo}}" />
                      <input name="dia" type="hidden" value="{{dia}}" />
                      <input value="{{tituloFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if abertura-encerramento}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="tipo" type="hidden" value="{{tipo}}" />
                      <input name="dia" type="hidden" value="{{dia}}" />
                      <input value="{{tipoFormat}} - {{dia}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if trabalho-publicado}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="tipo" type="hidden" value="{{tipo}}" />
                      <input name="titulo" type="hidden" value="{{titulo}}" />
                      <input name="autores" type="hidden" value="{{autores}}" />
                      <input value="{{tituloFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                  {{#if lab-ideias-mesa}}
                    <form method="POST" action="/simposio/2021/certificados/educomp/obter/arquivo/">
                      <input name="atividade" type="hidden" value="{{atividade}}" />
                      <input name="email" type="hidden" value="{{email}}" />
                      <input name="sessao" type="hidden" value="{{sessao}}" />
                      <input name="dia" type="hidden" value="{{dia}}" />
                      <input name="tipo" type="hidden" value="{{tipo}}" />
                      <input value="{{tipoFormat}}" type="submit" class="btn btn-primary btn-lg btn-block" style="text-align: left;" />
                    </form>
                  {{/if}}
                {{/each}}
              </ul>
            {{/if}}
          {{/each}}

          {{#if mensagem}}
            <div class="alert alert-danger">{{mensagem}}</div>
          {{/if}}

        </div>
            
      </div>
    </div>

  </section>