   {{> simposio/2021/pt-BR/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
            Certificados do Esquenta 1 EduComp <br>
            <small class="text-muted">(27 de março de 2021)</small>
          </h2> 
          <br>
          <h3>Obter certificado: </h3>
          <br>

          {{#each data}}
            {{#if registros}}
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark disable" style="font-size: x-large;">{{nome}}</li>
                {{#each registros}}    
                  {{#if participacao}}
                    <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/{{atividade}}/{{email}}/0/0/0' target="_blank" class="list-group-item list-group-item-primary" >Participação</a>
                  {{/if}}
                  {{#if organizacao}}
                    <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/{{atividade}}/{{email}}/{{funcao}}/0/0' target="_blank" class="list-group-item list-group-item-primary" >{{funcao}}</a>
                  {{/if}}
                  {{#if comite_programa}}
                    <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/{{atividade}}/{{email}}/{{funcao}}/0/0' target="_blank" class="list-group-item list-group-item-primary" >{{funcao}}</a>
                  {{/if}}
                  {{#if palestra}}
                    <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/{{atividade}}/{{email}}/{{funcao}}/0/{{titulo}}' target="_blank" class="list-group-item list-group-item-primary" >{{titulo}}</a>
                  {{/if}}
                  {{#if sessao-tecnica-apres}}
                    <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/{{atividade}}/{{email}}/0/0/{{titulo}}' target="_blank" class="list-group-item list-group-item-primary" >{{titulo}}</a>
                  {{/if}}
                  {{#if sessao-tecnica-coord}}
                    <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/{{atividade}}/{{email}}/0/0/0' target="_blank" class="list-group-item list-group-item-primary" >Sessão técnica - coordenação</a>
                  {{/if}}
                  {{#if abertura-encerramento}}
                    <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/{{atividade}}/{{email}}/0/{{tipo}}/0' target="_blank" class="list-group-item list-group-item-primary" >{{tipo}}</a>
                  {{/if}}
                {{/each}}
              </ul>
            {{/if}}
          {{/each}}

          {{#if mensagem}}
            <div class="alert alert-danger">{{mensagem}}</div>
          {{/if}}

        </div>
            {{!-- var product =
                JSON.stringify({
                    productGroup: "Fablet",
                    productId: 1,
                    productName: "Lumia 1525 64 GB",
                    sellingPrice: 700
                });

            $.ajax({
                URL: 'http://localhost/api/Products',
                type: 'POST',
                contentType: 'application/json',
                data: product,
                success: function (data, status, xhr) {
                    alert('Success!');
                },
                error: function (xhr, status, error) {
                    alert('Update Error occurred - ' + error);
                }
            }); --}}

            <script>
              function arquivoCertificado(dados) {
                console.log(dados)
              }
            </script>
      </div>
    </div>

  </section>