<h4 style="margin-bottom: 0.5em">
  {{titulo_sessao}}
</h4>

{{#if sessao}}
<b style="color: white; background-color: gray; padding: 0.2em; margin-bottom:0.5m;">Transmissão restrita aos inscritos
  do evento</b>
{{/if}}

<hr>

<span style="font-size: large; display: block; margin-bottom: 0.5em; margin-top: 0.5em">
  {{#if chair_sessao}}
  <br>
  <b>Chair:</b> {{chair_sessao}}
  {{/if}}

  {{#if chair_sessao2}}
  <br>
  <b>Chair:</b> {{chair_sessao2}}
  {{/if}}
</span>

<table class="table table-striped table-responsive table-borderless" style="font-size: medium; margin-bottom: 2.5em;">
  <tbody>

    <tr>
      <td>
        {{artigo1_titulo}}

        <!-- Badges: Tipo de trabalho -->
        {{#if artigo1_artigo_pesquisa}}
        <span class="badge bg-primary" style="color: white;">
          Artigos de Pesquisa
        </span>
        {{/if}}

        {{#if artigo1_ensaio}}
        <span class="badge bg-light" style="color: black;">
          Ensaios
        </span>
        {{/if}}

        {{#if artigo1_relato_experiencia}}
        <span class="badge bg-danger" style="color: white;">
          Relatos de Experiência
        </span>
        {{/if}}

        {{#if artigo1_curriculo}}
        <span class="badge bg-warning" style="color: black;">
          Currículos
        </span>
        {{/if}}

        {{#if artigo1_recurso_didatico}}
        <span class="badge bg-dark" style="color: white;">
          Recursos e Ambientes Educacionais
        </span>
        {{/if}}
      </td>

      <td>
        {{artigo1_autores}}
      </td>
    </tr>
    <tr>
      <td>
        {{artigo2_titulo}}

        <!-- Badges: Tipo de trabalho -->
        {{#if artigo2_artigo_pesquisa}}
        <span class="badge bg-primary" style="color: white;">
          Artigos de Pesquisa
        </span>
        {{/if}}

        {{#if artigo2_ensaio}}
        <span class="badge bg-light" style="color: black;">
          Ensaios
        </span>
        {{/if}}

        {{#if artigo2_relato_experiencia}}
        <span class="badge bg-danger" style="color: white;">
          Relatos de Experiência
        </span>
        {{/if}}

        {{#if artigo2_curriculo}}
        <span class="badge bg-warning" style="color: black;">
          Currículos
        </span>
        {{/if}}

        {{#if artigo2_recurso_didatico}}
        <span class="badge bg-dark" style="color: white;">
          Recursos e Ambientes Educacionais
        </span>
        {{/if}}
      </td>

      <td>
        {{artigo2_autores}}
      </td>
    </tr>

    <tr>
      <td>

        {{artigo3_titulo}}

        <!-- Badges: Tipo de trabalho -->
        {{#if artigo3_artigo_pesquisa}}
        <span class="badge bg-primary" style="color: white;">
          Artigos de Pesquisa
        </span>
        {{/if}}

        {{#if artigo3_ensaio}}
        <span class="badge bg-light" style="color: black;">
          Ensaios
        </span>
        {{/if}}

        {{#if artigo3_relato_experiencia}}
        <span class="badge bg-danger" style="color: white;">
          Relatos de Experiência
        </span>
        {{/if}}

        {{#if artigo3_curriculo}}
        <span class="badge bg-warning" style="color: black;">
          Currículos
        </span>
        {{/if}}

        {{#if artigo3_recurso_didatico}}
        <span class="badge bg-dark" style="color: white;">
          Recursos e Ambientes Educacionais
        </span>
        {{/if}}
      </td>

      <td>
        {{artigo3_autores}}
      </td>
    </tr>

    <tr>
      <td>

        {{artigo4_titulo}}

        <!-- Badges: Tipo de trabalho -->
        {{#if artigo4_artigo_pesquisa}}
        <span class="badge bg-primary" style="color: white;">
          Artigos de Pesquisa
        </span>
        {{/if}}

        {{#if artigo4_ensaio}}
        <span class="badge bg-light" style="color: black;">
          Ensaios
        </span>
        {{/if}}

        {{#if artigo4_relato_experiencia}}
        <span class="badge bg-danger" style="color: white;">
          Relatos de Experiência
        </span>
        {{/if}}

        {{#if artigo4_curriculo}}
        <span class="badge bg-warning" style="color: black;">
          Currículos
        </span>
        {{/if}}

        {{#if artigo4_recurso_didatico}}
        <span class="badge bg-dark" style="color: white;">
          Recursos e Ambientes Educacionais
        </span>
        {{/if}}
      </td>

      <td>
        {{artigo4_autores}}
      </td>
    </tr>

    <tr>
      <td>

        {{artigo5_titulo}}

        <!-- Badges: Tipo de trabalho -->
        {{#if artigo5_artigo_pesquisa}}
        <span class="badge bg-primary" style="color: white;">
          Artigos de Pesquisa
        </span>
        {{/if}}

        {{#if artigo5_ensaio}}
        <span class="badge bg-light" style="color: black;">
          Ensaios
        </span>
        {{/if}}

        {{#if artigo5_relato_experiencia}}
        <span class="badge bg-danger" style="color: white;">
          Relatos de Experiência
        </span>
        {{/if}}

        {{#if artigo5_curriculo}}
        <span class="badge bg-warning" style="color: black;">
          Currículos
        </span>
        {{/if}}

        {{#if artigo5_recurso_didatico}}
        <span class="badge bg-dark" style="color: white;">
          Recursos e Ambientes Educacionais
        </span>
        {{/if}}
      </td>

      <td>
        {{artigo5_autores}}
      </td>
    </tr>
  </tbody>
</table>