        <h1 style="margin-bottom: 0.5em;">{{titulo_sessao}}</h1>
        
        <table class="table table-striped table-responsive table-borderless" style="font-size: medium; margin-bottom: 2.5em;">
          <tbody>
            
            <tr>
              <td>
                {{artigo1_titulo}}
              </td>

              <td>
                {{artigo1_autores}}
              </td>
            </tr>
            <tr>
              <td>
                {{artigo2_titulo}}
              </td>

              <td>
                {{artigo2_autores}}
              </td>
            </tr>
          {{#if artigo3_titulo}} 
            <tr>
              <td>
                {{artigo3_titulo}}
              </td>

              <td>
                {{artigo3_autores}}
              </td>
            </tr>
          {{/if}}   
            
          </tbody>
        </table>