<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">
          Membros do GIEC
        </h1>
        <p class="lead text-justify">
          As Resoluções GIEC <a href="https://drive.google.com/file/d/17bgewclY9uUDz4Clz_TepHPTZ8W_dmcm/view?usp=sharing" target="_blank">nº 02/2021</a> e <a href="https://drive.google.com/file/d/1EGyZ1pdw77MK2XDs7Sjmw0hk3piBYbjX/view?usp=sharing" target="_blank">nº 03/2021</a> referem-se, especificamente, sobre o como se tornar membros do Grupo de Interesse em Educação em Computação (GIEC). No GIEC, você pode ser um membro da comunidade ou um membro efetivo. 
        </p>
        <p class="lead text-justify">
          Será um prazer poder contar com você como membro efetivo do GIEC. Você pode solicitar a sua inclusão através deste <a href="https://forms.gle/4hGTjsxWBCjpgNvk6" target="_blank">formulário</a>.
        </p>

        <h2 class="mb-3 mt-5 pl-3" style="border-left: 5px solid darkcyan">
          Membros Efetivos
        </h2>

        <div id="membros-efetivos-lista"></div>
        <hr>

        <h2 class="mb-3 mt-5 pl-3" style="border-left: 5px solid darkcyan">
          Membros da Comunidade
        </h2 class="primary">
        <div id="membros-comunidade-lista"></div>
        <hr>

        <h2 class="mb-3 mt-5 pl-3" style="border-left: 5px solid darkcyan">
          Membros Inativos
        </h2>
        <div id="membros-inativos-lista"></div>
        <hr>

      </div>
    </div>
  </div>

  <script>
      
    var membrosEfetivosLista = new Tabulator("#membros-efetivos-lista", {
        height:"311px",
        layout:"fitColumns",
        responsiveLayout:"hide",
        data: [
            {{#each membros_efetivos_dados}}
                {
                    nome: '<b>{{nome}}</b><br>Teste',
                    instituicao: "{{instituicao}}",
                    inclusao: "{{inclusao}}",
                    vigencia: "{{vigencia}}"
                },
            {{/each}}

        ],
        columns:[
            {title:"Nome", field:"nome", formatter:"html", headerFilter:"input", width: 250, bottomCalc:"count", sorter:"string"},
            {title:"Instituição", field:"instituicao", hozAlign:"center", headerFilter:"input", sorter:"string"},
            {title:"Inclusão", field:"inclusao", sorter:"date", headerFilter:"input" },
            {title:"Vigência", field:"vigencia", sorter:"date", headerFilter:"input",}
        ],
    });

    var membrosComunidadeLista = new Tabulator("#membros-comunidade-lista", {
        height:"311px",
        layout:"fitColumns",
        responsiveLayout:"hide",
        data: [
            {{#each membros_comunidade_dados}}
                {
                    nome: "{{nome}}",
                    instituicao: "{{instituicao}}",
                    inclusao: "{{inclusao}}",
                    vigencia: "{{vigencia}}"
                },
            {{/each}}

        ],
        columns:[
            {title:"Nome", field:"nome", headerFilter:"input", width: 250, bottomCalc:"count", sorter:"string"},
            {title:"Instituição", field:"instituicao", hozAlign:"center", headerFilter:"input", sorter:"string"},
            {title:"Inclusão", field:"inclusao", sorter:"date", headerFilter:"input" },
            {title:"Vigência", field:"vigencia", sorter:"date", headerFilter:"input",}
        ],
    });

    var membrosInativosLista = new Tabulator("#membros-inativos-lista", {
        height:"311px",
        layout:"fitColumns",
        responsiveLayout:"hide",
        data: [
            {{#each membros_inativos_dados}}
                {
                    nome: "{{nome}}",
                    instituicao: "{{instituicao}}",
                    inclusao: "{{inclusao}}",
                    vigencia: "{{vigencia}}"
                },
            {{/each}}

        ],
        columns:[
            {title:"Nome", field:"nome", headerFilter:"input", width: 250, bottomCalc:"count", sorter:"string"},
            {title:"Instituição", field:"instituicao", hozAlign:"center", headerFilter:"input", sorter:"string"},
            {title:"Inclusão", field:"inclusao", sorter:"date", headerFilter:"input" },
            {title:"Vigência", field:"vigencia", sorter:"date", headerFilter:"input",}
        ],
    });

  </script>